               
                body {
                    background-color: #444444;
                    text-align: center;
                    font-family:  Arial, Helvetica, sans-serif;
                }
                h1 {
                    font-family: sans-serif;
                    font-size: 50px;
                    color: #f0f0f0;
                }
                p {
                    font-family: sans-serif;
                    font-size: 20px;
                    color: #f0f0f0;
                }
                a {
                    color: #f0f0f0;
                    background-color: #444444;
                }
                .btn {
                    padding: 5px 20px;
                    color: #444444 !important;
                    background: #e1e1e1;
                    border-radius: 5px;
                    text-decoration: none;
                    transition: 0.5s cubic-bezier(1, 0.02, 0.25, 1);
                }
                .btn:hover {
                    /*turns into opposite colors when hovered over*/
                    color: #e1e1e1 !important;
                    background: rgba(19, 20, 21, 0.75);
                }
                .fact {
                    position: absolute;
                    font-size: 20px;
                    color: #f0f0f0;
                }      