                
                body {
                    background-color: #444444;
                    text-align: center;
                    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                }
                h1 {
                    font-size: 50px;
                    color: #f0f0f0;
                }
                p {
                    font-size: 20px;
                    color: #f0f0f0;
                }
                a {
                    text-decoration: none;
                    color: #f0f0f0;
                }