@import url("https://fonts.googleapis.com/css?family=Roboto");
                
                /*MOMAZOS DIEGO*/
                
                body {
                    background-color: #444444;
                    text-align: center;
                    font-family:  Arial, Helvetica, sans-serif;
                }
                h1 {
                    font-family:"sans-serif";
                    font-size: 50px;
                    color: #f0f0f0;
                }
                p {
                    font-family: "sans-serif";
                    font-size: 20px;
                    color: #f0f0f0;
                }
                a {
                    color: #f0f0f0;
                    background-color: #444444;
                }
                .btn {
                    padding: 5px 20px;
                    color: #444444 !important;
                    background: #e1e1e1;
                    border-radius: 5px;
                    text-decoration: none;
                    transition: 0.5s cubic-bezier(1, 0.02, 0.25, 1);
                }
                .btn:hover {
                    /*rainbow backround*/
                    background: linear-gradient(#f44336, #e91e63, #9c27b0, #673ab7, #3f51b5, #2196f3, #03a9f4, #00bcd4, #009688, #4caf50, #8bc34a, #cddc39, #ffeb3b, #ffc107, #ff9800, #ff5722, #795548, #9e9e9e, #607d8b); /* dear god what the fuck is this monstrosity */
                    animation: rainbowRotate 9s cubic-bezier(1, -0.05, 0.25, 1) infinite;
                    color: #f0f0f0;
                }
                @keyframes rainbowRotate {
                    0% {
                      background-position: 0% 50%;
                    }
                    50% {
                      background-position: 100% 51%;
                    }
                    100% {
                      background-position: 0% 50%;
                    }
                  }


/*
 * im not even gonna try anymore
 */

                  